<div class="pagination mt-5 mb-5 d-flex justify-content-center">
  <a class="pagination__item cursor-pointer float-left txt-decoration-none light-txt-color" href="#">&laquo;</a>
  <a class="pagination__item cursor-pointer float-left txt-decoration-none light-txt-color" href="#">1</a>
  <a class="pagination__item pagination__item--active cursor-pointer float-left txt-decoration-none" href="#">2</a>
  <a class="pagination__item cursor-pointer float-left txt-decoration-none light-txt-color" href="#">3</a>
  <a class="pagination__item cursor-pointer float-left txt-decoration-none light-txt-color" href="#">4</a>
  <a class="pagination__item cursor-pointer float-left txt-decoration-none light-txt-color" href="#">5</a>
  <a class="pagination__item cursor-pointer float-left txt-decoration-none light-txt-color" href="#">&raquo;</a>
</div>
