<section class="social position-fixed bottom-0 d-flex flex-column z-index-1 align-items-center z-index-1">
    <ul class="social__list p-0">
        <li class="social__item">
            <a class="social__link dark-gray-txt-color" title="profile" href="https://nguyenthienly.github.io/MY_PROFILE/" target="_blank">
                <i nz-icon nzType="profile" class="social__icon" nzTheme="outline"></i>
            </a>
        </li>

        <li class="social__item">
            <a class="social__link dark-gray-txt-color" title="github" href="https://github.com/NguyenThienLy" target="_blank">
                <i nz-icon nzType="github" class="social__icon" nzTheme="outline"></i>
            </a>
        </li>

        <li class="social__item">
            <a class="social__link dark-gray-txt-color" title="linkin" href="https://www.linkedin.com/in/NguyenThienLy2212/" target="_blank">
                <i nz-icon nzType="linkedin" class="social__icon" nzTheme="outline"></i>
            </a>
        </li>

        <li class="social__item">
            <a class="social__link dark-gray-txt-color" title="facebook" href="https://www.facebook.com/thienly.nguyen.315" target="_blank">
                <i nz-icon nzType="facebook" class="social__icon" nzTheme="outline"></i>
            </a>
        </li>

        <li class="social__item">
            <a class="social__link dark-gray-txt-color" title="blog" href="https://dev.to/nguyenthienly" target="_blank">
                <i nz-icon nzType="book" class="social__icon" nzTheme="outline"></i>
            </a>
        </li>
    </ul>
    <div class="social__line top-0 left-50 transform-translate-X--50"></div>
</section>